body {
  font-family: Arial;
  font-size: 120%
}
a {
  color: #563d7c;
  text-decoration: none;
  transition: color .1s
}
a:hover {
  color: #8570a5
}
input[type=text] {
  font-size: 100%
}
ol {
  padding-left: 0;
  max-height: 400px;
  overflow: auto
}
li {
  padding: 5px;
  list-style: decimal inside none;
  align-items: start
}
ul {
  list-style-type: none;
  padding: 0
}
li:nth-child(odd) {
  background-color: #f3edfc
}
ul li {
  align-items: flex-start
}
.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px
}
.hide {
  display: none
}
.start {
  text-align: center
}
.scores {
  position: absolute;
  top: 10px;
  left: 10px
}
.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc
}
.timer {
  position: absolute;
  top: 10px;
  right: 10px
}
.quiz-container {
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100,100,100,.1);
  width: 700px;
  justify-content: center;
  max-width: 100%;
  overflow: hidden
}
.quiz-header {
  padding: 2rem
}
button {
  display: block;
  margin: 3px;
  cursor: pointer;
  font-size: 100%;
  font-size: 1rem;
  background-color: #563d7c;
  border-radius: 10px;
  padding: 4px 10px;
  padding: .5 rem;
  color: #fff;
  font-family: inherit
}
button:hover {
  background-color: #8570a5
}
#choices {
  display: flex;
  flex-direction: column;
  justify-content: center
}/* --------------------Submit Button------------- */